<section xmlns:th="http://www.thymeleaf.org" class="jumbotron text-center ">
    <div class="container">
        <h3 class="jumbotron-heading text-secondary">Shopping cart for
            <th:block th:if="${user} != null" th:text="${user.getFirstName()}"></th:block>
        </h3>
    </div>
</section>

<div th:if="${hasError}">
    <p class="text-center text-danger" th:text="${error}"></p>
</div>
<p class="text-center text-success" th:text="${message}"></p>


<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${products.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col" class="text-secondary">Product</th>
                        <th scope="col" class="text-secondary">Quantity</th>
                        <th scope="col" class="text-secondary">Price</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="product : ${products.entrySet()}" class="cart-item">
                        <td th:text="${product.getKey().getName()}"></td>
                        <td th:text="${product.getValue()}"></td>
                        <td th:text="${product.getKey().getPrice()}"></td>
                        <td><form th:action="@{'/shopping-cart/remove-product/{id}' (id=${product.getKey().getId()})}"
                                  th:method="POST">
                            <button type="submit"
                                    class="btn btn-sm btn-danger cart-product">
                                <i class="fa fa-trash">Remove product from cart</i>
                            </button>
                        </form></td>
                    </tr>
                    </tbody>
                </table>
                <h2>Total:
                    <th:block th:text="${totalPrice}"></th:block>
                </h2>
            </div>
        </div>
        <a th:href="@{'/shopping-cart/clear'}" class="m-2">
            <button type="button" class="btn btn-secondary">Clear cart</button>
        </a>

        <br>
        <div class="m-2">
            <a th:href="@{'/shopping-cart/checkout'}" class="col-md-1">
                <button type="button" class="btn btn-success">Checkout</button>
            </a>
        </div>
    </div>
</div>