<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h3 class="jumbotron-heading">All employees</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div th:if="${hasError}">
                <h5 class="text-center text-danger" th:text="${error}"></h5>
            </div>
            <div class="col-12" th:if="${allEmployees.size() > 0}">
                <div class="table-responsive">
                    <div class="container mb-4">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-secondary">Ssn</th>
                                            <th scope="col" class="text-secondary">First Name</th>
                                            <th scope="col" class="text-secondary">Last Name</th>
                                            <th scope="col" class="text-secondary">Username</th>
                                            <th scope="col" class="text-secondary">Date Employed</th>
                                            <th scope="col" class="text-secondary">Admin</th>
                                            <th scope="col" class="text-secondary">Gender</th>
                                            <th scope="col" class="text-secondary">Age</th>
                                            <th scope="col" class="text-secondary">Salary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="nav-item" th:each="employee : ${allEmployees}">
                                            <td th:text="${employee.getSsn()}"></td>
                                            <td th:text="${employee.getFirstName()}"></td>
                                            <td th:text="${employee.getLastName()}"></td>
                                            <td th:text="${employee.getUser().getUsername()}"></td>
                                            <td th:text="${employee.getDateEmployment()}"></td>
                                            <td th:text="${employee.getIsAdmin()}"></td>
                                            <td th:text="${employee.getGender()}"></td>
                                            <td th:text="${employee.getAge()}"></td>
                                            <td th:text="${employee.getSalary()}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/employees/add-form" class="btn btn-block btn-dark add-product-btn">
                            Add new employee
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>